:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Gothic', san-serif;
    
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

main {
    padding: 20px;
}

.opening {
    display: grid;
    justify-content: center;
    align-items: center;
}

.doors {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#wood-door {
    object-fit: fill;
}

#stone-door {
    object-fit: cover;
}

#vault-door {
    object-fit: cover;
}

.fate {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px;
    border: solid black;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
}